CajaWindow {
    CajaInformationPanel GtkVBox,
    CajaEmblemSidebar GtkViewport,
    FMTreeView .view,
    CajaPlacesSidebar .view,
    CajaHistorySidebar .view,
    CajaNotesViewer .view {
        background-color: $sidebar_bg;
        color: $fg_color;
        border-width: 0px;
    }
}

.caja-side-pane {
    notebook {
        viewport.frame,
        treeview.view,
        widget .vertical,
        textview.view text {
            background-color: $sidebar_bg;
            color: $fg_color;
        }
    }
}

.caja-navigation-window {
    notebook {
        > header {
            padding: 0px;
            margin-right: -2px;
            margin-bottom: -1px;

            > tabs {
                > tab {
                    &:checked {
                        background-color: $base_color;
                        margin-bottom: 1px;
                    }
                }
            }
        }
    }
}

.mate-terminal {
    notebook {
        > header {
            padding: 0px;
            margin-right: -2px;

            > tabs {
                > tab {
                    &:checked {
                        background-color: $base_color;
                    }
                }
            }
        }
    }
}

.pluma-window {
    notebook {
        > header {
            padding: 2px;
            margin-left: -2px;
            margin-right: -2px;
            margin-bottom: -1px;
            padding-bottom: 0;
        }

        > header.top {
            > tabs {
                > tab {
                    &:checked {
                        border-bottom: transparent;
                        background-color: $base_color;
                    }
                }
            }
        }
    }
}

window.background.mate-terminal,
window.background.csd.mate-terminal,
window.background.ssd.mate-terminal,
window.background.solid-csd.mate-terminal,
window.background,
window.background.csd,
window.background.ssd,
window.background.solid-csd {
    > box.vertical {
        > notebook {
            &:not(.frame) {
                > stack {
                    > box {
                        border-style: solid;
                        border-width: 0px 1px 1px 1px;
                        border-color: $borders_color;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

#PanelApplet {
    box.mintmenu {
        &:selected {
            background-color: $selected_bg_color;
        }
    }

    .button {
        color: $fg_color;
        background-color: $bg_color;
        background-image: none;
        border-image: none;
    }

    button {
        padding: 3px;
        border-style: solid;
        border-width: 2px;
        border-radius: 3px;
        background-color: $bg_color;
        background-image: none;
    }

    wnck-tasklist {
        button.flat {
            padding: 0px 3px 0px 3px;
            border-style: solid;
            border-width: 2px;
            border-radius: 3px;
            border-color: transparent;
            border-image: -gtk-scaled(
                    url("../assets/mate-applications/button.png"),
                    url("../assets/mate-applications/button@2.png")
                )
                4 / 4px stretch;
            box-shadow: inset 0 1px rgba(white, 0.5), inset 1px 0 rgba(white, 0.3),
                inset -1px 0 rgba(white, 0.3), inset 0 -1px rgba(white, 0.05);
            background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 0.01));
        }
    }

    button,
    wnck-tasklist button.flat {
        &:hover {
            padding: 0px 3px 0px 3px;
            border-style: solid;
            border-width: 2px;
            border-radius: 3px;
            border-color: transparent;
            border-image: -gtk-scaled(
                    url("../assets/mate-applications/button.png"),
                    url("../assets/mate-applications/button@2.png")
                )
                4 / 4px stretch;
            box-shadow: inset 0 1px rgba(white, 0.5), inset 1px 0 rgba(white, 0.3),
                inset -1px 0 rgba(white, 0.3), inset 0 -1px rgba(white, 0.05);
            background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.1));
        }

        &:checked,
        &:active,
        &:checked:hover,
        &:active:hover {
            padding: 0px 3px 0px 3px;
            border-style: solid;
            border-width: 2px;
            border-radius: 3px;
            border-color: transparent;
            border-image: -gtk-scaled(
                    url("../assets/mate-applications/button-active.png"),
                    url("../assets/mate-applications/button-active@2.png")
                )
                4 / 4px stretch;
            box-shadow: inset 0 1px rgba(black, 0.1), inset 1px 0 rgba(black, 0.08),
                inset -1px 0 rgba(black, 0.08), inset 0 -1px rgba(black, 0.06);
            background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(black, 0.2), rgba(black, 0.2));
        }
    }
}

.gnome-panel-menu-bar,
.mate-panel-menu-bar {
    .menubar,
    > .menuitem {
        color: $fg_color;
        background-color: $bg_color;
        background-image: none;
        border-image: none;
    }

    button {
        border-color: transparent;
        border-image: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;

        &:active,
        &:checked {
            @include button(active-checked);
        }

        &:hover {
            border: 1px solid darken($button_border, 5%);
            border-top-color: $button_border;
            border-bottom-color: darken($button_border, 10%);
            border-radius: $button_radius;
            box-shadow: inset 0 1px rgba(white, 1), inset 1px 0 rgba(white, 0.4),
                inset -1px 0 rgba(white, 0.4), inset 0 -1px rgba(white, 0.2),
                1px 0 rgba(black, 0.05), -1px 0 rgba(black, 0.05), 0 1px rgba(black, 0.1);
            background-color: transparent;
            background-image: linear-gradient(to bottom, $button_bg_a, $button_bg_b);
        }
    }
}

.mate-panel-menu-bar,
.gnome-panel-menu-bar,
PanelToplevel.background,
#PanelPlug,
#PanelApplet-window-menu-applet-button {
    color: $fg_color;
    background-color: $bg_color;
    background-image: none;
    border-image: none;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-image: url("../assets/mate-applications/separator-vertical.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    text-shadow: none;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 1px;
}
