.confirm-dialog-main-layout {
    spacing: 24px;
}

.confirm-dialog-message-layout {
    spacing: 16px;
}

.confirm-dialog-headline {
    font-size: 1.1em;
    font-weight: bold;
}

.confirm-dialog-description {
  font-size: 1em;
}
