/* #############################################################################
 * Section common with Gnome Shell.
 * It contains a few cinnamon specific styles (rare occurences).
 * ############################################################################# */
stage {
  font-family: "@font_family@";
  font-size: "@font_size@";
}

.cinnamon-link {
  color: #0000ee;
  text-decoration: underline;
}
.cinnamon-link StLabel {
  text-decoration: underline;
}
.cinnamon-link:hover {
  color: rgba(0, 0, 238, 0.5);
}

StScrollBar {
  padding: 0;
}
StScrollBar StBin#trough {
  background-color: transparent;
}
StScrollBar StButton#vhandle {
  border: 1px solid #999999;
  background-color: #d9d9d9;
  border-radius: 6px;
}
StScrollBar StButton#vhandle:hover {
  border: 1px solid #999999;
  background-color: #cacaca;
}
StScrollBar StButton#hhandle {
  border: 1px solid #999999;
  background-color: #d9d9d9;
  border-radius: 6px;
}
StScrollBar StButton#hhandle:hover {
  border: 1px solid #999999;
  background-color: #cacaca;
}

StScrollView.vfade {
  -st-vfade-offset: 68px;
}
StScrollView StScrollBar {
  min-width: 9px;
  min-height: 9px;
}

#Tooltip {
  padding: 3px 6px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #fbeaa0;
  color: #212121;
  box-shadow: none;
  font-size: 1em;
  font-weight: normal;
}

/* =============================================================================
 * Switches (to be used in menus)
 * ============================================================================= */
.toggle-switch {
  width: 55px;
  height: 22px;
}
.toggle-switch-us, .toggle-switch-intl {
  border-image: url("assets/switch-off.svg") 4;
}
.toggle-switch-us:checked, .toggle-switch-intl:checked {
  border-image: url("assets/switch-on.svg") 4;
}

/* =============================================================================
 * Shared button properties
 * ============================================================================= */
.notification-button,
.notification-icon-button {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
  font-size: 0.95em;
  font-weight: normal;
  text-align: center;
}

.notification-button:hover,
.notification-icon-button:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #aeaeae;
}

.notification-button:focus,
.notification-icon-button:focus {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #d7d7d7;
  border: 1px solid #accd8a;
  box-shadow: inset 0 0 0 1px #accd8a;
}
.notification-button:focus:checked, .notification-button:focus:active,
.notification-icon-button:focus:checked,
.notification-icon-button:focus:active {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}

.notification-button:active,
.notification-icon-button:active {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}

.notification-button:focus:hover,
.notification-icon-button:focus:hover,
.modal-dialog-button:focus:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #accd8a;
  box-shadow: inset 0 0 0 1px #accd8a;
}

/* =============================================================================
 * PopupMenu (/usr/share/cinnamon/js/ui/popupMenu.js)
 * ============================================================================= */
/* Mark for deletion on EOL. Cinnamon 3.2.x+
 * Remove condition and rule/s.
 */
.menu {
  background-color: #ebebeb;
  border: 1px solid rgba(41, 41, 41, 0.3);
  color: #464646;
  min-width: 100px;
}
.menu.top {
  border-radius: 0 0 4px 4px;
}
.menu.bottom {
  border-radius: 4px 4px 0 0;
}
.menu.left {
  border-radius: 0 4px 4px 0;
}
.menu.right {
  border-radius: 4px 0 0 4px;
}
.menu StEntry {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
}
.menu StEntry:focus {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #f8f8f8;
  box-shadow: inset 0 0 2px #ababab;
}
.menu StEntry:hover {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
  box-shadow: 0 0 2px #ababab;
}

/* .popup-submenu-menu-item:open {
 *}
 */
.popup-sub-menu {
  background-color: gainsboro;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #fdfdfd;
  padding: 0.5em 0;
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}
.popup-sub-menu StScrollBar {
  padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
  background-color: transparent;
}
.popup-sub-menu StScrollBar StBin#vhandle {
  border: 1px solid #999999;
  background-color: #d9d9d9;
  border-radius: 6px;
}
.popup-sub-menu StScrollBar StBin#vhandle:hover {
  border: 1px solid #999999;
  background-color: #cacaca;
}

.popup-combo-menu {
  background-color: #ebebeb;
  border: 1px solid rgba(41, 41, 41, 0.3);
  color: #464646;
  border-radius: 4px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
  padding: 1em 0;
}

.popup-menu-item {
  padding: 0.4em 1.75em;
  spacing: 1em;
}
.popup-menu-item:active {
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  box-shadow: inset 0 0 1px 1px #ababab;
  color: white;
}
.popup-menu-item:insensitive {
  color: #8b8b8b;
}

.popup-combobox-item {
  spacing: 1em;
}

.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: #d2d2d2;
  -gradient-end: #d2d2d2;
  -margin-horizontal: 0;
  height: 1px;
}

.popup-alternating-menu-item:alternate {
  font-weight: bold;
}

.popup-slider-menu-item,
.slider {
  -slider-height: 0.3em;
  -slider-background-color: #a6a6a6;
  -slider-border-color: transparent;
  -slider-active-background-color: #accd8a;
  -slider-active-border-color: transparent;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
  height: 1em;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
}

.popup-device-menu-item {
  spacing: 0.5em;
}

.popup-inactive-menu-item {
  font-weight: bold;
  color: #8b8b8b;
}

.popup-subtitle-menu-item {
  font-weight: bold;
  color: #464646;
}

.popup-menu-icon {
  icon-size: 1em;
}

.nm-menu-item-icons {
  spacing: 0.5em;
}

/* =============================================================================
 * Panel (/usr/share/cinnamon/js/ui/panel.js)
 * ============================================================================= */
#panel {
  color: #464646;
  font-size: 1em;
  height: 26px;
  width: 32px;
  padding: 0;
}

#panelLeft,
#panelCenter {
  spacing: 4px;
}

#panelLeft:dnd {
  background-color: rgba(255, 0, 0, 0.1);
}

#panelCenter:dnd {
  background-color: rgba(0, 128, 0, 0.1);
}

#panelRight:dnd {
  background-color: rgba(0, 0, 255, 0.1);
}

#panelLeft:ltr {
  padding-right: 4px;
}
#panelLeft:rtl {
  padding-left: 4px;
}

#panelRight:ltr {
  padding-left: 0;
  spacing: 0;
}
#panelRight:rtl {
  padding-right: 0;
  spacing: 0;
}

#panelLeft.vertical:ltr {
  padding-right: 0;
}
#panelLeft.vertical:rtl {
  padding-left: 0;
}

.panel-top {
  box-shadow: 0 0 1px 1px #292929;
  background-gradient-direction: vertical;
  background-gradient-start: #cfcfcf;
  background-gradient-end: whitesmoke;
  /* I replaced the window-list-item class from using the border-image property
   * to use the background-gradient-* properties. The images had a 1 pixel
   * transparent border so, to imitate the same effect, I added a 1 pixel
   * transparent border to all three panel boxes from all panels.
   */
}
.panel-top #panelLeft,
.panel-top #panelRight,
.panel-top #panelCenter {
  border-bottom: 1px solid transparent;
}
.panel-top:highlight {
  box-shadow: 0 0 1px 1px rgba(172, 205, 138, 0.4);
  background-gradient-direction: vertical;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
}
.panel-bottom {
  box-shadow: 0 0 1px 1px #292929;
  background-gradient-direction: vertical;
  background-gradient-start: whitesmoke;
  background-gradient-end: #cfcfcf;
}
.panel-bottom #panelLeft,
.panel-bottom #panelRight,
.panel-bottom #panelCenter {
  border-top: 1px solid transparent;
}
.panel-bottom:highlight {
  box-shadow: 0 0 1px 1px rgba(172, 205, 138, 0.4);
  background-gradient-direction: vertical;
  background-gradient-start: #ebf3e3;
  background-gradient-end: #dfecd1;
}
.panel-left {
  box-shadow: 0 0 1px 1px #292929;
  background-gradient-direction: horizontal;
  background-gradient-start: #cfcfcf;
  background-gradient-end: whitesmoke;
}
.panel-left #panelLeft,
.panel-left #panelRight,
.panel-left #panelCenter {
  border-right: 1px solid transparent;
  spacing: 0;
}
.panel-left:highlight {
  box-shadow: 0 0 1px 1px rgba(172, 205, 138, 0.4);
  background-gradient-direction: horizontal;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
}
.panel-right {
  box-shadow: 0 0 1px 1px #292929;
  background-gradient-direction: horizontal;
  background-gradient-start: whitesmoke;
  background-gradient-end: #cfcfcf;
}
.panel-right #panelLeft,
.panel-right #panelRight,
.panel-right #panelCenter {
  border-left: 1px solid transparent;
  spacing: 0;
}
.panel-right:highlight {
  box-shadow: 0 0 1px 1px rgba(172, 205, 138, 0.4);
  background-gradient-direction: horizontal;
  background-gradient-start: #ebf3e3;
  background-gradient-end: #dfecd1;
}
.panel-dummy {
  border: 1px solid #accd8a;
  background-color: rgba(172, 205, 138, 0.6);
}
.panel-dummy:entered {
  background-color: rgba(172, 205, 138, 0.9);
}

.system-status-icon {
  padding-left: 0;
  padding-right: 0;
  spacing: 0;
  margin: 0;
  icon-size: 1.14em;
  /* Mark for deletion on EOL. Cinnamon 3.4.x+
   * Remove condition only.
   */
  /* #####################################################################
   * Added in Cinnamon 3.4
   *
   * The new warning/error colors used on .system-status-icon are
   * currently used by the power applet to warn the user when their
   * battery is low.
   * ##################################################################### */
}
.system-status-icon.warning {
  color: #e6e100;
}
.system-status-icon.error {
  color: #cc0000;
}

/* #appMenu {
 * }
 */
/* .popup-menu-item-dot {
 * }
 */
/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/overview.js)
 * ============================================================================= */
#overview {
  spacing: 12px;
}

.workspace-overview-background-shade {
  background-color: transparent;
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/expoThumbnail.js)
 * ============================================================================= */
.workspace-thumbnails {
  spacing: 26px;
  padding-left: 0.9em;
  padding-right: 1em;
}

.workspace-close-button {
  background-image: url("assets/close.svg");
  height: 35px;
  width: 35px;
  -cinnamon-close-overlap: 25px;
  transition-duration: 150;
}
.workspace-close-button:hover {
  background-image: url("assets/close-hover.svg");
  transition-duration: 150;
}

.expo-workspace-thumbnail-frame {
  border: 11px transparent;
  border-image: url("assets/workspace-shadow.png") 14;
}
.expo-workspace-thumbnail-frame#active {
  border: 11px transparent;
  border-image: url("assets/workspace-shadow.png") 14;
}

.expo-workspaces-name-entry {
  border-radius: 4px;
  border: 1px solid #6e6e6e;
  caret-color: white;
  caret-size: 1px;
  color: white;
  min-height: 16px;
  min-width: unset;
  padding: 8px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-color: #404040;
  text-align: center;
  font-weight: bold;
}
.expo-workspaces-name-entry#selected {
  color: white;
  transition-duration: 150;
}
.expo-workspaces-name-entry#selected:focus {
  color: white;
  transition-duration: 150;
}
.expo-workspaces-name-entry:focus {
  color: white;
  transition-duration: 150;
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/expo.js)
 * ============================================================================= */
.workspace-add-button {
  background-image: url("assets/plus.png");
  height: 200px;
  width: 35px;
  transition-duration: 100;
}
.workspace-add-button:hover {
  background-image: url("assets/plus-hover.png");
  transition-duration: 100;
}

.window-close-area {
  background-image: url("assets/trash.svg");
  background-color: #e1e1e1;
  border: 1px solid #666666;
  border-radius: 4px 4px 0 0;
  height: 150px;
  width: 226px;
}

.expo-background {
  background: url("assets/noise-texture.png");
  background-repeat: repeat;
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/workspace.js)
 * ============================================================================= */
.window-caption {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  font-weight: bold;
  spacing: 25px;
  font-size: 1em;
  padding: 6px 8px;
  spacing: 8px;
  -cinnamon-caption-spacing: 10px;
}
.window-caption#selected {
  box-shadow: inset 0 0 2px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  spacing: 25px;
}

.window-close {
  background-image: url("assets/close.svg");
  height: 35px;
  width: 35px;
  -cinnamon-close-overlap: 16px;
  transition-duration: 150;
}
.window-close:hover {
  background-image: url("assets/close-hover.svg");
  transition-duration: 150;
}
.window-close:rtl {
  -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/* =============================================================================
 * Desklets (/usr/share/cinnamon/js/ui/desklet.js)
 * ============================================================================= */
.desklet {
  color: #464646;
}
.desklet:highlight {
  background-color: #accd8a;
}
.desklet-with-borders:highlight, .desklet-with-borders-and-header:highlight {
  background-color: #accd8a;
}
.desklet-with-borders {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px;
}
.desklet-with-borders-and-header {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  border-radius: 0 0 4px 4px;
  color: #464646;
  padding: 8px;
}
.desklet-header {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  font-size: 1em;
  font-weight: bold;
  text-shadow: #ededed 0 0 0;
  color: #464646;
  padding: 8px;
}
.desklet-drag-placeholder {
  border: 0 solid #cccccc;
  border-radius: 0;
  background: none;
}

/* Class used by the default desklet called "Digital photo frame" (photoframe@cinnamon.org) */
.photoframe-box {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  padding: 10px;
}

/* Class used by the default desklet called "Clock desklet" (clock@cinnamon.org) */
.clock-desklet-label {
  color: #464646;
}

/* =============================================================================
 * Looking Glass (/usr/share/cinnamon/js/ui/lookingGlass.js)
 * ============================================================================= */
#LookingGlassDialog {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  transition-duration: 300;
  padding: 8px;
}

/* =============================================================================
 * Calendar applet (/usr/share/cinnamon/applets/calendar@cinnamon.org/calendar.js)
 * ============================================================================= */
.calendar {
  padding: 0.4em 1.75em 0.8em;
  spacing-rows: 0;
  spacing-columns: 0;
}
.calendar-month-label {
  padding-bottom: 3px;
  padding-top: 3px;
  font-weight: bold;
  color: #464646;
}
.calendar-change-month-back, .calendar-change-month-forward:rtl {
  height: 20px;
  width: 20px;
  transition-duration: 200;
  border: 1px transparent;
  background-image: url("assets/calendar-arrow-left.svg");
}
.calendar-change-month-back:hover {
  transition-duration: 150;
  background-image: url("assets/calendar-arrow-left-hover.svg");
}
.calendar-change-month-forward, .calendar-change-month-back:rtl {
  height: 20px;
  width: 20px;
  transition-duration: 200;
  border: 1px transparent;
  background-image: url("assets/calendar-arrow-right.svg");
}
.calendar-change-month-forward:hover {
  transition-duration: 150;
  background-image: url("assets/calendar-arrow-right-hover.svg");
}
.calendar-day-base {
  font-size: 1em;
  text-align: center;
  width: 2.4em;
  height: 2.4em;
}
.calendar-day-base:active {
  background: #accd8a;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: white;
}
.calendar-day-heading {
  font-size: 1em;
  color: #323232;
  padding-top: 2em;
}
.calendar-week-number {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}
.calendar-day {
  border: 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  border-top-width: 0;
  border-left-width: 0;
  padding-left: 1px;
  padding-top: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.calendar-day-top {
  border-top-width: 1px;
}
.calendar-day-left {
  border-left-width: 1px;
}
.calendar-nonwork-day {
  background-color: rgba(128, 128, 128, 0.1);
}
.calendar-today {
  color: #accd8a;
  font-weight: bold;
}
.calendar-other-month-day {
  color: rgba(51, 51, 51, 0.3);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(51, 51, 51, 0.1);
}

/* Calendar applet (/usr/share/cinnamon/applets/calendar@cinnamon.org/applet.js) */
.datemenu-date-label {
  padding: 0.5em 0 1em;
  font-weight: bold;
  text-align: center;
  color: #464646;
}

/* =============================================================================
 * Notifications    (/usr/share/cinnamon/js/ui/messageTray.js)
 * ============================================================================= */
#notification {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  font-size: 0.95em;
  padding: 8px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  /* For the links inside notifications.
   * These URLs are already underlined with Pango markup.
   */
}
#notification.multi-line-notification {
  padding-bottom: 8px;
  color: #464646;
}
#notification StEntry {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
}
#notification StEntry:focus {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #f8f8f8;
  box-shadow: inset 0 0 2px #ababab;
}
#notification StEntry:hover {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
  box-shadow: 0 0 2px #ababab;
}
#notification .cinnamon-link {
  color: black;
  text-decoration: underline;
}
#notification-scrollview {
  max-height: 100em;
}
#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow {
  height: 10em;
}
#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
#notification-body {
  spacing: 5px;
}
#notification-actions {
  spacing: 10px;
}
#notification .url-highlighter {
  link-color: #0000ee;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
 * taken into account during allocation, so its height ends up being limited by the height
 * of the content in the other rows. To avoid showing a stretched image, we set the minimum
 * height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159
 */
.notification-with-image {
  min-height: 159px;
  color: #464646;
}

.notification-button {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
  font-size: 1.1em;
  padding: 4px 20px;
}

.notification-icon-button {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
  padding: 5px;
}
.notification-icon-button:focus {
  padding: 4px;
}
.notification-icon-button > StIcon {
  icon-size: 36px;
}

/* =============================================================================
 * Alt Tab    (/usr/share/cinnamon/js/ui/appSwitcher/classicSwitcher.js)
 * ============================================================================= */
#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
}
.switcher-list .item-box {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 0;
}
.switcher-list .item-box:outlined {
  padding: 6px;
  border: 2px solid transparent;
}
.switcher-list .item-box:selected {
  box-shadow: inset 0 0 2px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  color: white;
  border-radius: 4px;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.23);
}

.switcher-list-item-container {
  spacing: 8px;
}

.thumbnail-scroll-gradient-left {
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 24px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 24px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  width: 60px;
}

.switcher-arrow {
  border-color: transparent;
  color: #464646;
}
.switcher-arrow:highlighted {
  border-color: transparent;
  color: white;
}

.switcher-preview-backdrop {
  background-color: rgba(26, 26, 26, 0.65);
}

/* =============================================================================
 * Hot corner ripple effect (/usr/share/cinnamon/js/ui/hotCorner.js).
 * ============================================================================= */
.ripple-box,
.ripple-box:rtl {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* 50% is not recognized. */
  background-gradient-direction: radial;
  /* start=center, end=edges */
  background-gradient-start: rgba(172, 205, 138, 0.3);
  background-gradient-end: rgba(172, 205, 138, 0.2);
}

/* =============================================================================
 * Modal dialogs    (/usr/share/cinnamon/js/ui/modalDialog.js)
 * ============================================================================= */
.modal-dialog {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 30px;
}
.modal-dialog-button-box {
  spacing: 110px;
  padding-top: 20px;
}
.modal-dialog-button {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
  height: 22px;
  font-size: 1.1em;
  padding: 4px 20px;
}
.modal-dialog-button:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #aeaeae;
}
.modal-dialog-button:focus {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #d7d7d7;
  border: 1px solid #accd8a;
  box-shadow: inset 0 0 0 1px #accd8a;
  padding: 4px 20px;
}
.modal-dialog-button:focus:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #accd8a;
  box-shadow: inset 0 0 0 1px #accd8a;
  padding: 4px 20px;
}
.modal-dialog-button:focus:checked, .modal-dialog-button:focus:active {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}
.modal-dialog-button:active, .modal-dialog-button:checked {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}
.modal-dialog-button:disabled {
  color: rgba(70, 70, 70, 0.8);
}

/* =============================================================================
 * Run dialog (/usr/share/cinnamon/js/ui/runDialog.js)
 * ============================================================================= */
.run-dialog {
  padding: 10px 12px 0;
}
.run-dialog-label {
  font-size: 1em;
  font-weight: bold;
}
.run-dialog-error-label {
  color: #cc0000;
  font-weight: bold;
}
.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px;
}
.run-dialog-entry {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
}
.run-dialog-entry:focus {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #f8f8f8;
  box-shadow: inset 0 0 2px #ababab;
}
.run-dialog-entry:hover {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
  box-shadow: 0 0 2px #ababab;
}
.run-dialog-completion-box {
  padding-left: 15px;
  font-size: 0.9em;
}

/* =============================================================================
 * Lightbox (/usr/share/cinnamon/js/ui/lightbox.js)
 * ============================================================================= */
.lightbox {
  background-color: rgba(0, 0, 0, 0.4);
}

/* =============================================================================
 * Flashspot (/usr/share/cinnamon/js/ui/flashspot.js)
 * ============================================================================= */
.flashspot {
  background-color: white;
}

/* =============================================================================
 * CinnamonMountOperation Dialogs (/usr/share/cinnamon/js/ui/cinnamonMountOperation.js)
 * ============================================================================= */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: #cc0000;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  font-size: 1.3em;
  font-weight: bold;
  color: #464646;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0;
  padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
  font-size: 1.1em;
  color: #464646;
  padding-left: 17px;
  width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  font-size: 1.1em;
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: #464646;
}
.show-processes-dialog-app-list-item:hover {
  color: #797979;
}
.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
  font-size: 1.1em;
}

/* =============================================================================
 * Magnifier (/usr/share/cinnamon/js/ui/magnifier.js)
 * ============================================================================= */
.magnifier-zoom-region {
  border: 2px solid maroon;
}
.magnifier-zoom-region.full-screen {
  border-width: 0;
}

/* =============================================================================
 * On screen keyboard (/usr/share/cinnamon/js/ui/keyboard.js)
 * ============================================================================= */
#keyboard {
  background-color: #e1e1e1;
  box-shadow: inset 0 1px #313131;
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
  min-height: 30px;
  min-width: 30px;
  font-size: 1.5em;
  font-weight: bold;
}
.keyboard-key:grayed {
  border-radius: 3px;
  color: #464646;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: gainsboro;
  border: 1px solid #a8a8a8;
}
.keyboard-key:checked, .keyboard-key:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #aeaeae;
}
.keyboard-key:active {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}

.keyboard-subkeys {
  color: #464646;
  padding: 5px;
  -arrow-border-radius: 4px;
  -arrow-background-color: #ebebeb;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(41, 41, 41, 0.3);
  -arrow-base: 18px;
  -arrow-rise: 10px;
  -st-shadow: 0 -1px 2px 0 rgba(255, 255, 255, 0.9);
  -boxpointer-gap: 2px;
}

/* =============================================================================
 * Menu applet (/usr/share/cinnamon/applets/menu@cinnamon.org/applet.js)
 * ============================================================================= */
.menu-favorites-box {
  background-color: #ebebeb;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 0.5em;
}

.menu-favorites-button {
  padding: 0.9em 1em;
  border-radius: 4px;
}
.menu-favorites-button:hover {
  box-shadow: inset 0 0 2px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  color: white;
  border-radius: 4px;
}

.menu-categories-box {
  padding: 10px 30px;
}

.menu-applications-inner-box,
.menu-applications-outer-box {
  padding: 10px 10px 0;
}

.menu-application-button {
  padding: 7px;
  max-width: 10px;
}
.menu-application-button:highlighted {
  /* This style is used in menu application buttons for applications which were newly installed. */
  font-weight: bold;
}

.menu-application-button-selected {
  box-shadow: inset 0 0 2px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  color: white;
  border-radius: 4px;
  padding: 7px;
}
.menu-application-button-selected:highlighted {
  font-weight: bold;
  /* This style is used in menu application buttons for applications which were newly installed. */
}

.menu-application-button-label:ltr {
  padding-left: 5px;
}
.menu-application-button-label:rtl {
  padding-right: 5px;
}

.menu-category-button {
  padding: 7px;
}

.menu-category-button-greyed {
  padding: 7px;
  color: #868686;
}

.menu-category-button-selected {
  box-shadow: inset 0 0 2px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #accd8a;
  background-gradient-end: #93be66;
  color: white;
  border-radius: 4px;
  padding: 7px;
}

.menu-category-button-label:ltr {
  padding-left: 5px;
}
.menu-category-button-label:rtl {
  padding-right: 5px;
}

/* Name and description of the currently hovered item in the menu.
 * This appears on the bottom right hand corner of the menu.
 */
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

.menu-search-box {
  padding-left: 30px;
}

#menu-search-entry {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
}
#menu-search-entry:focus {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #f3f3f3;
  background-gradient-end: #f8f8f8;
  box-shadow: inset 0 0 2px #ababab;
}
#menu-search-entry:hover {
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  caret-color: #2a2a2a;
  caret-size: 1px;
  color: #2a2a2a;
  min-height: 16px;
  min-width: 250px;
  padding: 4px 12px;
  selected-color: white;
  selection-background-color: #accd8a;
  transition-duration: 150;
  background-gradient-direction: vertical;
  background-gradient-start: #eeeeee;
  background-gradient-end: #f3f3f3;
  box-shadow: 0 0 2px #ababab;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: #464646;
}

/* .menu-context-menu    {
 *
 * }
 */
/* .menu-background    {
 *
 * }
 */
/* =============================================================================
 * Window list applet (/usr/share/cinnamon/applets/window-list@cinnamon.org/applet.js)
 * ============================================================================= */
.window-list {
  /* Mark for deletion on EOL. Cinnamon 3.6.x+
   * Remove condition only.
   */
  /* #########################################################################
   * Class "window-list-preview":Added in Cinnamon 3.6
   * ######################################################################### */
}
.window-list-box {
  spacing: 3px;
  padding-left: 0;
}
.window-list-box.vertical {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.window-list-item-label {
  width: 15em;
  min-width: 5px;
}
.window-list-item-box {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #e1e1e1;
  color: #464646;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  padding: 1px 4px;
  /* #####################################################################
   * Class "progress" (window list items progress overlay):Added in Cinnamon 3.4
   * ##################################################################### */
  /* Mark for deletion on EOL. Cinnamon 3.6.x+
   * Remove condition only.
   */
}
.window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus, .window-list-item-box:checked:hover, .window-list-item-box:focus:hover, .window-list-item-box:active:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}
.window-list-item-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 3px 0 0;
}
.window-list-item-box .progress {
  border-radius: 3px 3px 0 0;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(172, 205, 138, 0.5);
  background-gradient-end: rgba(172, 205, 138, 0.9);
}
.panel-top .window-list-item-box {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #e1e1e1;
  color: #464646;
  border-radius: 0 0 3px 3px;
  /* Mark for deletion on EOL. Cinnamon 3.6.x+
   * Remove condition only.
   */
}
.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:focus, .panel-top .window-list-item-box:checked:hover, .panel-top .window-list-item-box:focus:hover, .panel-top .window-list-item-box:active:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 0 0 3px 3px;
}
.panel-top .window-list-item-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 0 3px 3px;
}
.panel-top .window-list-item-box .progress {
  border-radius: 0 0 3px 3px;
}
.panel-left .window-list-item-box {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #e1e1e1;
  color: #464646;
  border-radius: 0 3px 3px 0;
  padding-left: 0;
  padding-right: 0;
  /* Mark for deletion on EOL. Cinnamon 3.6.x+
   * Remove condition only.
   */
}
.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:focus, .panel-left .window-list-item-box:checked:hover, .panel-left .window-list-item-box:focus:hover, .panel-left .window-list-item-box:active:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 0 3px 3px 0;
}
.panel-left .window-list-item-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 3px 3px 0;
}
.panel-left .window-list-item-box .progress {
  border-radius: 0 3px 3px 0;
}
.panel-right .window-list-item-box {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #e1e1e1;
  color: #464646;
  border-radius: 3px 0 0 3px;
  padding-left: 0;
  padding-right: 0;
  /* Mark for deletion on EOL. Cinnamon 3.6.x+
   * Remove condition only.
   */
}
.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:focus, .panel-right .window-list-item-box:checked:hover, .panel-right .window-list-item-box:focus:hover, .panel-right .window-list-item-box:active:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 3px 0 0 3px;
}
.panel-right .window-list-item-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 0 0 3px;
}
.panel-right .window-list-item-box .progress {
  border-radius: 3px 0 0 3px;
}
.window-list-item-demands-attention {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}
.panel-top .window-list-item-demands-attention {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}
.panel-left .window-list-item-demands-attention {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 0 3px 3px 0;
}
.panel-right .window-list-item-demands-attention {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 3px 0 0 3px;
}
.window-list-preview {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  /* The class itself doesn't respond to the set paddings. */
  font-size: 1em;
  font-weight: bold;
  text-shadow: white 0 0 2px;
}
.window-list-preview StBin {
  padding: 5px;
}

/* =============================================================================
 * Grouped window list applet (/usr/share/cinnamon/applets/grouped-window-list@cinnamon.org
 * ============================================================================= */
/* =============================================================================
 * Sound applet (/usr/share/cinnamon/applets/sound@cinnamon.org/applet.js)
 * ============================================================================= */
.sound-player StButton {
  width: 22px;
  height: 22px;
  padding: 5px;
  color: #464646;
}
.sound-player StButton:small {
  border: 1px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 16px;
}
.sound-player StButton:small:hover {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #f0f0f0;
  background-gradient-end: #e4e4e4;
  border: 1px solid #aeaeae;
}
.sound-player StButton:small:active {
  border-radius: 3px;
  background-gradient-direction: vertical;
  background-gradient-start: #b1b1b1;
  background-gradient-end: #b8b8b8;
  border: 1px solid #8a8a8a;
}
.sound-player StButton StIcon {
  icon-size: 22px;
}
.sound-player StButton:small StIcon {
  icon-size: 16px;
}
.sound-player StButton:hover, .sound-player StButton:active {
  color: rgba(70, 70, 70, 0.4);
}
.sound-player .slider {
  height: 0.5em;
  -slider-height: 0.5em;
  -slider-background-color: #a6a6a6;
  -slider-border-color: transparent;
  -slider-active-background-color: #accd8a;
  -slider-active-border-color: transparent;
  -slider-border-width: 0;
  -slider-handle-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.sound-player StBoxLayout {
  spacing: 0.5em;
}
.sound-player > StBoxLayout {
  padding: 0 16px 8px;
}
.sound-player > StBoxLayout:first-child {
  border: 1px solid #c2c2c2;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.sound-player-overlay {
  border-top: 1px solid #c2c2c2;
  width: 300px;
  height: 70px;
  padding: 16px;
  spacing: 0.5em;
  color: #464646;
  background: #ebebeb;
}
.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}
.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}

/* =============================================================================
 * Workspace Switcher applet (/usr/share/cinnamon/applets/workspace-switcher@cinnamon.org/applet.js)
 * ============================================================================= */
.workspace-button {
  width: 20px;
  height: 6px;
  color: #464646;
  border: 0;
  border-color: #c7c7c7;
  padding: 3px;
  padding-right: 1px;
  font-weight: bold;
  padding-top: 5px;
}
.workspace-button.vertical {
  padding: 0;
}
.workspace-button:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 3px 0 0;
  border-color: #c7c7c7;
}
.workspace-button:outlined {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 3px 3px 0 0;
}
.panel-top .workspace-button:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 0 3px 3px;
}
.panel-top .workspace-button:outlined {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 0 0 3px 3px;
}
.panel-left .workspace-button:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 3px 3px 0;
}
.panel-left .workspace-button:outlined {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 0 3px 3px 0;
}
.panel-right .workspace-button:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 0 0 3px;
}
.panel-right .workspace-button:outlined {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #accd8a;
  color: white;
  border-radius: 3px 0 0 3px;
}

/* Controls the style when using the "Visual representation" option. */
.workspace-graph {
  padding: 3px 4px;
  spacing: 4px;
}
.workspace-graph .workspace {
  border: 1px solid #121212;
  background-gradient-direction: vertical;
  background-gradient-start: #434343;
  background-gradient-end: #5c5c5c;
}
.workspace-graph .workspace:active {
  border: 1px solid #cccccc;
  background-gradient-direction: vertical;
  background-gradient-start: #343434;
  background-gradient-end: #5c5c5c;
}
.workspace-graph .workspace .windows {
  -active-window-background: #8d8d8d;
  -active-window-border: rgba(0, 0, 0, 0.7);
  -inactive-window-background: #8d8d8d;
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}
.workspace-graph .workspace:active .windows {
  -active-window-background: #accd8a;
  -active-window-border: rgba(0, 0, 0, 0.9);
  -inactive-window-background: darkgray;
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

/* =============================================================================
 * Panel Launchers applet (/usr/share/cinnamon/applets/panel-launchers@cinnamon.org/applet.js)
 * ============================================================================= */
/* Mark for deletion on EOL. Cinnamon 3.2.x+
 * Remove condition and rule.
 */
.panel-launchers {
  spacing: 0;
}
.panel-launchers .launcher {
  border: 1px solid transparent;
  padding: 0 2px;
  border-radius: 3px;
  border-top: 0;
}
.panel-launchers .launcher:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px;
}
.panel-launchers .launcher .icon-box {
  padding: 0;
}
.panel-top .panel-launchers .launcher {
  border-bottom: 0;
}
.panel-left .panel-launchers .launcher {
  border-right: 0;
}
.panel-right .panel-launchers .launcher {
  border-left: 0;
}
.panel-launchers.vertical .launcher {
  padding: 2px 0;
}

/* =============================================================================
 * Applets (/usr/share/cinnamon/js/ui/applet.js)
 * ============================================================================= */
.applet {
  /* =========================================================================
   * Separator applet (/usr/share/cinnamon/applets/separator@cinnamon.org/applet.js)
   * ========================================================================= */
}
.applet-box {
  font-weight: bold;
  color: #464646;
  padding: 0 4px;
  text-align: center;
  /* &:checked > .applet-icon,
   * &:hover > .applet-icon {
   * }
   */
  /* &:active {
   * }
   */
  /* Mark for deletion on EOL. Cinnamon 3.4.x+
   * Remove condition only.
   */
  /* #########################################################################
   * Added in Cinnamon 3.4
   *
   * The Cinnamon St library now reacts to margin, but that also has the
   * effect of overriding the margin that was put in programmatically for
   * TextIcon applets between the icon and the label.
   * This restores some suitable spacing between icons and their labels.
   * ######################################################################### */
}
.applet-box.vertical {
  font-weight: bold;
  color: #464646;
  padding: 4px 0;
}
.applet-box:highlight, .applet-box:checked, .applet-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 3px 0 0;
}
.applet-box:highlight {
  box-shadow: inset 0 0 0 1px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
  color: white;
  border-radius: 3px 3px 0 0;
}
.panel-top .applet-box, .panel-bottom .applet-box {
  spacing: 3px;
}
.panel-top .applet-box:highlight, .panel-top .applet-box:checked, .panel-top .applet-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 0 3px 3px;
}
.panel-top .applet-box:highlight {
  box-shadow: inset 0 0 0 1px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
  color: white;
  border-radius: 0 0 3px 3px;
}
.panel-left .applet-box:highlight, .panel-left .applet-box:checked, .panel-left .applet-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 0 3px 3px 0;
}
.panel-left .applet-box:highlight {
  box-shadow: inset 0 0 0 1px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
  color: white;
  border-radius: 0 3px 3px 0;
}
.panel-right .applet-box:highlight, .panel-right .applet-box:checked, .panel-right .applet-box:hover {
  box-shadow: inset 0 0 0 1px #ababab;
  background-color: #eeeeee;
  color: #464646;
  border-radius: 3px 0 0 3px;
}
.panel-right .applet-box:highlight {
  box-shadow: inset 0 0 0 1px #ababab;
  background-gradient-direction: vertical;
  background-gradient-start: #dfecd1;
  background-gradient-end: #ebf3e3;
  color: white;
  border-radius: 3px 0 0 3px;
}
.applet-label {
  font-weight: bold;
  color: #464646;
}
.applet-label:checked, .applet-label:hover {
  font-weight: bold;
}
.applet-icon {
  icon-size: 22px;
  /* &:hover,
   * &:checked    {}
   */
}
.applet-separator {
  padding: 4px;
}
.applet-separator-line {
  width: 2px;
  background: #bdbdbd;
}
.applet-separator-line-vertical {
  border: 0 solid #bdbdbd;
  border-bottom-width: 2px;
}

/* =============================================================================
 * Workspace OSD (/usr/share/cinnamon/js/ui/windowManager.js)
 * ============================================================================= */
.workspace-osd {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  padding: 9px 15px;
  font-weight: bold;
  font-size: 2.8em;
}

/* =============================================================================
 * Notification applet (/usr/share/cinnamon/applets/notifications@cinnamon.org/applet.js)
 * ============================================================================= */
.notification-applet-padding {
  padding: 0.5em 1em;
}

/* =============================================================================
 * Check Boxes
 * ============================================================================= */
.check-box CinnamonGenericContainer {
  spacing: 0.2em;
  min-height: 18px;
  padding-top: 2px;
}
.check-box StBin, .check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("assets/checkbox-unchecked.svg");
}
.check-box:checked StBin, .check-box:focus:checked StBin {
  background-image: url("assets/checkbox-checked.svg");
}
.check-box StLabel {
  font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
  spacing: 0.2em;
  height: 18px;
  padding-top: 2px;
}
.radiobutton StBin, .radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url("assets/radio-unselected.svg");
}
.radiobutton:checked StBin, .radiobutton:focus:checked StBin {
  background-image: url("assets/radio-selected.svg");
}
.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none;
}

/* =============================================================================
 * User applet (/usr/share/cinnamon/applets/user@cinnamon.org/applet.js)
 * ============================================================================= */
.user-icon {
  background-color: #ebebeb;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding: 0.2em;
}

.user-label {
  color: #464646;
  font-size: 1.3em;
  margin: 6px;
}

/* =============================================================================
 * About Dialog (/usr/share/cinnamon/js/ui/modalDialog.js)
 * ============================================================================= */
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
  padding-bottom: 16px;
}
.about-title {
  font-size: 1.5em;
  font-weight: bold;
}
.about-uuid {
  font-size: 0.8em;
}
.about-icon {
  padding-right: 20px;
}
.about-scrollBox {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
}
.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}
.about-description {
  padding-top: 4px;
  /* Let the description text wrap at least for two
   * lines until it "touches" the about-scrollBox.
   */
  padding-bottom: 20px;
}
.about-version {
  padding-left: 7px;
}

/* =============================================================================
 * OSD Popups
 * ============================================================================= */
.info-osd {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  font-size: 2em;
  padding: 12px;
  text-align: center;
}

.osd-window {
  background-color: #e1e1e1;
  border: 1px solid #ababab;
  color: #464646;
  border-radius: 4px;
  padding: 20px;
  spacing: 1em;
  /* Mark for deletion on EOL. Cinnamon 3.4.x+
   * Remove condition only.
   */
  /*level-bar class added in Cinnamon 3.4.x.*/
}
.osd-window .level-bar {
  height: 0.7em;
  border-radius: 0.3em;
  background-color: #accd8a;
}
.osd-window .level {
  height: 0.7em;
  border-radius: 0.3em;
  background-color: #a6a6a6;
}

/* =============================================================================
 * Snap/Tile Chrome (/usr/share/cinnamon/js/ui/windowManager.js)
 * ============================================================================= */
.tile-preview {
  background-color: rgba(172, 205, 138, 0.4);
  border: 1px solid rgba(172, 205, 138, 0.8);
}
.tile-preview.snap {
  background-color: rgba(172, 205, 138, 0.8);
}

.tile-hud {
  background-color: rgba(172, 205, 138, 0.4);
  border: 1px solid rgba(172, 205, 138, 0.8);
}
.tile-hud.snap {
  background-color: rgba(172, 205, 138, 0.8);
}
.tile-hud:top {
  border-top-width: 0;
  border-radius: 0 0 8px 8px;
}
.tile-hud:bottom {
  border-bottom-width: 0;
  border-radius: 8px 8px 0 0;
}
.tile-hud:left {
  border-left-width: 0;
  border-radius: 0 8px 8px 0;
}
.tile-hud:right {
  border-right-width: 0;
  border-radius: 8px 0 0 8px;
}
.tile-hud:top-left {
  border-top-width: 0;
  border-left-width: 0;
  border-radius: 0 0 8px;
}
.tile-hud:top-right {
  border-top-width: 0;
  border-right-width: 0;
  border-radius: 0 0 0 8px;
}
.tile-hud:bottom-left {
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0 8px 0 0;
}
.tile-hud:bottom-right {
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 8px 0 0;
}

/* Mark for deletion on EOL. Cinnamon 3.4.x+
 * Remove condition only.
 */
/* #########################################################################
 * Systray Applet - Added in Cinnamon 3.4
 *
 * .systray is for theming to be applied to the systray as a whole.
 * .applet-box is used for indicators (not tray icons) within the systray.
 * Tray icons are not themed.
 * ######################################################################### */
.systray {
  spacing: 5px;
}
