/* Various tweaks */
.container.boxed,
.container {
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
}

.container img {
    max-width: 100% !important;
    height: auto !important;
}

/* Various tweaks */

/* Start box-sizing reset */

/* Option 2A: Reset an entire region via CSS */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* End box-sizing reset */

/* Class for center images */
.centered_image {
    text-align: center;
}

/* Class for center images */

/* Font preferences */
html,
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code,
kbd,
pre,
samp {
    font-family: "DejaVu Sans Mono", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

/* Font preferences */

/* Various tweaks */
div.boxed {
    border: #ecece7 solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.container h1,
.container h2 {
    border-bottom: 1px solid #e0e0dc;
}

/* Various tweaks */

/* pre tag tweaks */
pre {
    background-color: #f8f8f8 !important; /* Tweak for XCode "Highlight" Theme */
    padding: 0 !important;
}

.container pre {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* pre tag tweaks */

/* Tweak spacing of the compatibility badges inside a panel */
.panel-body.compatibility > .compatibility-disclaimer,
.panel-body.compatibility > .compatibility-badge {
    margin: 5px;
    line-height: 2.5em;
}

/* Tweak spacing of the compatibility badges inside a panel */

/* Tweak appearance of the compatibility badges inside a panel */
.panel-body.compatibility > .compatibility-disclaimer {
    font-weight: bold;
}

.panel-body.compatibility > .compatibility-badge > .label-primary {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-body.compatibility > .compatibility-badge > .label-warning,
.panel-body.compatibility > .compatibility-badge > .label-success,
.panel-body.compatibility > .compatibility-badge > .label-info {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-body.compatibility > .compatibility-badge > .label-warning {
    background-color: #dfb317;
}

.panel-body.compatibility > .compatibility-badge > .label-success {
    background-color: #97CA00;
}

.panel-body.compatibility > .compatibility-badge > .label-info {
    background-color: #439cf7;
}

/* Tweak appearance of the compatibility badges inside a panel */
.navbar-form {
    margin-top: 8px !important;
}

.navbar-form .form-group {
    display: block !important;
}

/* Override %100 width so it doesn't occupy the entire page width. */
#localization-switch {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-weight: bold !important;
}

/* Wrapper class for resizing and centering the language selector image
   on the navigation bar of the help files */
.standalone-glyphicon-globe-wrapper {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
}

/* Replaces the glyphicon-globe class */
.standalone-glyphicon-globe:before {
    content: url('data:image/svg+xml;utf8,<svg enable-background=!string!id=!string!version=!string!viewBox=!string!xml:space=!string!xmlns=!string!xmlns:xlink=!string!><path d=!string!style=!string!/></svg>') !important;
}

/* For fixed header */
body {
    padding-top: 70px !important;
}

/* For fixed header */
