/* Class to center images */
.img-centered-container {
    text-align: center;
}

.img-centered-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Class to center images */

/* Fonts overrides */
html,
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre,
code,
kbd,
samp,
.text-monospace {
    font-family: "DejaVu Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Fonts overrides */

/* Various tweaks */
div.boxed {
    border: #ecece7 solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.container h1,
.container h2 {
    border-bottom: 1px solid #e0e0dc;
}

/* Various tweaks */

/* pre tag tweaks */
.container pre {
    white-space: pre-wrap !important;
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* pre tag tweaks */

/* For fixed header */
body {
    padding-top: 50px !important;
}

/* For fixed header */

/*
 * Custom styling classes.
 */
.text-bold {
    font-weight: bold !important;
}

.text-bolder {
    font-weight: bolder !important;
}

.text-italic {
    font-style: italic !important;
}

.text-oblique {
    font-style: oblique !important;
}

.text-overline {
    text-decoration: overline !important;
}

.text-line-through {
    text-decoration: line-through !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-font-size-small {
    font-size: 80% !important;
}

.text-font-size-medium {
    font-size: 90% !important;
}

.text-font-size-large {
    font-size: 110% !important;
}

.text-font-size-x-large {
    font-size: 120% !important;
}

.text-font-size-xx-large {
    font-size: 130% !important;
}

/*
 * Custom styling classes.
 */

/* Override Flaty's headings with Bootstrap's headings because Flaty's are unnecessarily huge. */
h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

/* Override Flaty's headings with Bootstrap's headings because Flaty's are unnecessarily huge. */
