#CinnamonTweaksAppletRemoval .confirm-dialog-main-layout,
#CinnamonTweaksDeskletRemoval .confirm-dialog-main-layout {
    spacing: 24px;
}

#CinnamonTweaksAppletRemoval .confirm-dialog-message-layout,
#CinnamonTweaksDeskletRemoval .confirm-dialog-message-layout {
    spacing: 16px;
}

#CinnamonTweaksAppletRemoval .confirm-dialog-headline,
#CinnamonTweaksDeskletRemoval .confirm-dialog-headline {
    font-size: 1.1em;
    font-weight: bold;
}

#CinnamonTweaksAppletRemoval .confirm-dialog-description,
#CinnamonTweaksDeskletRemoval .confirm-dialog-description {
    font-size: 1em;
}
