$button_radius: 3px;
$menu_radius: 4px;

/* =============================================================================
 * Hyperlinks
 * ============================================================================= */
.cinnamon-link {
    color: $link_color;
    text-decoration: underline;

    StLabel {
        text-decoration: underline;
    }

    &:hover {
        color: rgba($link_color, 0.5);
    }
}

/* =============================================================================
 * Scrollbars
 * ============================================================================= */
StScrollBar {
    padding: 0;

    StBin#trough {
        background-color: transparent;
    }

    StButton {
        &#vhandle,
        &#hhandle {
            @include scrollbar-handle(normal);

            &:hover {
                @include scrollbar-handle(hover);
            }
        }
    }
}

StScrollView {
    &.vfade {
        -st-vfade-offset: 68px;
    }

    StScrollBar {
        min-width: 9px;
        min-height: 9px;
    }
}

/* =============================================================================
 * Tooltips
 * ============================================================================= */
#Tooltip {
    padding: 3px 6px;
    // NOTE: Build time definition.
    border: "@tooltip_border_definition@";
    border-radius: $menu_radius;
    // NOTE: Build time definition.
    background-color: "@tooltip_background_rgba_color@";
    color: $tooltip_fg_color;
    box-shadow: none;
    font-size: 1em;
    font-weight: normal;
}

/* =============================================================================
 * Switches (to be used in menus)
 * ============================================================================= */
.toggle-switch {
    width: 49px;
    height: 22px;

    &-us,
    &-intl {
        border-image: url("../common-assets/switch/switch.svg") 4;

        .popup-menu-item:active & {
            border-image: url("../common-assets/switch/switch-selected.svg") 4;
        }

        &:checked {
            border-image: url("../common-assets/switch/switch-active.svg") 4;

            .popup-menu-item:active & {
                border-image: url("../common-assets/switch/switch-active-selected.svg") 4;
            }
        }
    }
}

/* =============================================================================
 * Shared button properties
 * ============================================================================= */
.modal-dialog,
.notification,
.notification-icon {
    &-button {
        @include button(normal);

        font-size: 1.1em;
        font-weight: normal;
        text-align: center;

        &:hover {
            @include button(hover);
        }

        &:focus {
            @include button(focus);

            &:hover {
                @include button(focus-hover);
            }
        }

        &:active,
        &:checked,
        &:focus:active,
        &:focus:checked {
            @include button(active);
        }

        &:disabled {
            color: rgba($fg_color, 0.8);
        }

        &,
        &:hover,
        &:checked,
        &:active,
        &:focus,
        &:focus:hover,
        &:focus:checked,
        &:focus:active,
        &:disabled {
            padding: 4px 8px;
        }
    }
}

/* =============================================================================
 * PopupMenu (/usr/share/cinnamon/js/ui/popupMenu.js)
 * ============================================================================= */

// NOTE: Not declaring font-size fucks up everything. It ellipsizes menu labels
// innecesarily and cuts off labels whose text has been modified with markup.
// This problem is observed with all official themes except the one called Linux Mint.
.menu {
    background-color: lighten($bg_color, 4%);
    border: 1px solid rgba(darken($borders_color, 51%), 0.3);
    color: $fg_color;
    font-size: 1em;
    min-width: 100px;

    &.top {
        border-radius: 0 0 $menu_radius $menu_radius;
    }

    &.bottom {
        border-radius: $menu_radius $menu_radius 0 0;
    }

    &.left {
        border-radius: 0 $menu_radius $menu_radius 0;
    }

    &.right {
        border-radius: $menu_radius 0 0 $menu_radius;
    }

    StEntry {
        @include entry;

        &:focus,
        &:focus:hover {
            @include entry(focus);
        }

        &:hover {
            @include entry(hover);
        }
    }
}

// .popup-submenu-menu-item:open {
// }

.popup-sub-menu {
    background-color: darken($bg_color, 2%);
    border-top: 2px solid lighten($borders_color, 13%);
    border-bottom: 2px solid lighten($borders_color, 32%);
    padding: 0.5em 0;

    .popup-menu-item {
        &:ltr {
            padding-right: 1.75em;
        }

        &:rtl {
            padding-left: 1.75em;
        }
    }

    StScrollBar {
        padding: 4px;

        StBin {
            &#trough {
                background-color: transparent;
            }

            &#vhandle {
                @include scrollbar-handle(normal);

                &:hover {
                    @include scrollbar-handle(hover);
                }
            }
        }
    }
}

.popup-combo-menu {
    background-color: lighten($bg_color, 4%);
    border: 1px solid rgba(darken($borders_color, 51%), 0.3);
    color: $fg_color;
    border-radius: $menu_radius;
}

// NOTE: The remaining popup-menu sizing is all done in ems, so that if you
// override .popup-menu.font-size, everything else will scale with it.
.popup-menu-content {
    padding: 1em 0;
}

.popup-menu-item {
    padding: 0.4em 1.75em;
    spacing: 1em;

    &:active {
        background-gradient-direction: vertical;
        background-gradient-start: $selected_bg_color;
        background-gradient-end: darken($selected_bg_color, 10%);
        box-shadow: inset 0 0 1px 1px mix($selected_bg_color, $borders_color, 75%);
        color: $selected_fg_color;
    }

    &:insensitive {
        color: lighten($fg_color, 27%);
    }
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    -gradient-height: 1px;
    -gradient-start: darken($bg_color, 6%);
    -gradient-end: darken($bg_color, 6%);
    -margin-horizontal: 0;
    height: 1px;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item,
.slider {
    -slider-height: 0.3em;
    -slider-background-color: darken($bg_color, 23%);
    -slider-border-color: transparent;
    -slider-active-background-color: $selected_bg_color;
    -slider-active-border-color: transparent;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
    height: 1em;
    min-width: 15em;
    border: 0 solid transparent;
    border-right-width: 1px;
    border-left-width: 5px;
}

.popup-device-menu-item {
    spacing: 0.5em;
}

.popup-inactive-menu-item {
    font-weight: bold;
    color: lighten($fg_color, 27%);
}

.popup-subtitle-menu-item {
    font-weight: bold;
    color: $fg_color;
}

.popup-menu-icon {
    icon-size: 1em;
}

.nm-menu-item-icons {
    spacing: 0.5em;
}

/* =============================================================================
 * Panel (/usr/share/cinnamon/js/ui/panel.js)
 * ============================================================================= */
#panel {
    color: $fg_color;
    font-size: 1em;
    height: 26px;
    width: 32px;
    padding: 0;
}

// NOTE: panelLeft, panelCenter and panelRight are actually the boxes inside a panel.
#panel {
    &Left,
    &Center {
        spacing: 4px;
    }

    &Left:dnd {
        background-color: rgba(red, 0.1);
    }

    &Center:dnd {
        background-color: rgba(green, 0.1);
    }

    &Right:dnd {
        background-color: rgba(blue, 0.1);
    }

    &Left {
        &:ltr {
            padding-right: 4px;
        }

        &:rtl {
            padding-left: 4px;
        }

        &.vertical {
            &:ltr {
                padding-right: 0;
            }

            &:rtl {
                padding-left: 0;
            }
        }
    }

    &Right {
        &:ltr {
            padding-left: 0;
            spacing: 0;
        }

        &:rtl {
            padding-right: 0;
            spacing: 0;
        }
    }
}

.panel {
    @each $pos, $counter_pos in ("top", "bottom"), ("bottom", "top"), ("left", "right"),
        ("right", "left")
    {
        &-#{$pos} {
            @include panel-background(#{$pos});

            // I replaced the window-list-item class from using the border-image property
            // to use the background-gradient-* properties. The images had a 1 pixel
            // transparent border so, to imitate the same effect, I added a 1 pixel
            // transparent border to all three panel boxes from all panels.
            #panelLeft,
            #panelRight,
            #panelCenter {
                border-#{$counter_pos}: 1px solid transparent;
            }

            &:highlight {
                @include panel-background(#{$pos}, $highlighted: true);
            }
        }
    }

    &-dummy {
        border: 1px solid $selected_bg_color;
        background-color: rgba($selected_bg_color, 0.6);

        &:entered {
            background-color: rgba($selected_bg_color, 0.9);
        }
    }
}

// #appMenu {
// }

// .popup-menu-item-dot {
// }

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/overview.js)
 * ============================================================================= */
#overview {
    spacing: 12px;
}

.workspace-overview-background-shade {
    background-color: transparent;
}

.overview-empty-placeholder {
    color: $selected_fg_color;
    font-size: 2em;
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/expoThumbnail.js)
 * ============================================================================= */
.workspace-thumbnails {
    spacing: 26px;
    padding-left: 0.9em;
    padding-right: 1em;
}

.workspace-close-button {
    background-image: url("../metacity-1/close-focus.svg");
    background-size: 24px;
    background-color: $button_bg_a;
    border: 1px solid $border_button;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    -cinnamon-close-overlap: 25px;

    &:hover {
        background-image: url("../metacity-1/close-focus-none.svg");
        background-color: $button_hover_bg_a;
        border-color: $border_button_hover;
    }

    &:active,
    &:active:hover {
        background-image: url("../metacity-1/close-focus.svg");
        background-color: $button_active_bg_a;
        border-color: $border_button_active;
    }
}

.expo-workspace-thumbnail-frame {
    border: 11px transparent;
    border-image: url("assets/workspace-shadow.png") 14;

    &#active {
        border: 11px transparent;
        border-image: url("assets/workspace-shadow.png") 14;
    }
}

.expo-workspaces-name-entry {
    @include entry($for_expo: true);

    &:focus,
    &#selected,
    &#selected:focus {
        color: $selected_fg_color;
    }
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/expo.js)
 * ============================================================================= */
.workspace-add-button {
    background-image: url("../metacity-1/maximize-focus.svg");
    background-size: 24px;
    background-color: $button_bg_a;
    border-color: $border_button;
    height: 200px;
    width: 34px;

    &:hover {
        background-image: url("../metacity-1/maximize-focus-none.svg");
        background-color: $button_hover_bg_a;
        border-color: $border_button_hover;
    }

    &:active {
        background-image: url("../metacity-1/maximize-focus.svg");
        background-color: $button_active_bg_a;
        border-color: $border_button_active;
    }
}

.window-close-area {
    @include background(base-frame, bottom, $menu_radius);

    background-image: url("../metacity-1/minimize-focus.svg");
    background-size: 24px;
    height: 34px;
    width: 200px;
}

.expo-background {
    background: url("assets/noise-texture.png");
    background-repeat: repeat;
}

/* =============================================================================
 * Overview (/usr/share/cinnamon/js/ui/workspace.js)
 * ============================================================================= */
.window {
    &-caption {
        @include background(base-frame, null, $menu_radius);

        font-weight: bold;
        spacing: 25px;
        font-size: 1em;
        padding: 6px 8px;
        -cinnamon-caption-spacing: 10px;

        &:focus {
            @include background(app-selected, null, $menu_radius);
            // NOTE: Override border set by base-frame mixin.
            border: 1px solid mix($selected_bg_color, $borders_color, 75%);
        }
    }

    &-close {
        @extend .workspace-close-button;

        -cinnamon-close-overlap: 16px;
    }

    &-border {
        border: 3px $selected_bg_color;
        border-radius: $menu_radius;
        background-color: rgba(
            255,
            255,
            255,
            0.05
        ); /* Cover rounded corners and some bad adjustment gaps */
        box-shadow: inset 0 0 0 1px $selected_bg_color;
    }
}

/* =============================================================================
 * Desklets (/usr/share/cinnamon/js/ui/desklet.js)
 * ============================================================================= */
.desklet {
    color: $fg_color;

    &:highlight,
    &-with-borders:highlight,
    &-with-borders-and-header:highlight {
        background-color: $selected_bg_color;
    }

    &-with-borders {
        @include background(base-frame, null, $menu_radius);
        font-weight: bold;
        padding: 8px;
    }

    &-with-borders-and-header {
        background-color: $bg_color;
        border: 1px solid $borders_color;
        border-radius: 0 0 $menu_radius $menu_radius;
        color: $fg_color;
        padding: 8px;
    }

    &-header {
        background-color: $bg_color;
        border: 1px solid $borders_color;
        border-bottom-width: 0;
        border-radius: $menu_radius $menu_radius 0 0;
        font-size: 1em;
        font-weight: bold;
        text-shadow: lighten($borders_color, 26%) 0 0 0;
        color: $fg_color;
        padding: 8px;
    }

    &-drag-placeholder {
        border: 0 solid lighten($borders_color, 13%);
        border-radius: 0;
        background: none;
    }
}

/* =============================================================================
 * Digital photo frame desklet (/usr/share/cinnamon/applets/photoframe@cinnamon.org/desklet.js)
 * ============================================================================= */
.photoframe-box {
    @include background(base-frame, null, $menu_radius);
    padding: 10px;
}

/* =============================================================================
 * Clock desklet (/usr/share/cinnamon/applets/clock@cinnamon.org/desklet.js)
 * ============================================================================= */
.clock-desklet-label {
    color: $fg_color;
}

/* =============================================================================
 * Looking Glass (/usr/share/cinnamon/js/ui/lookingGlass.js)
 * ============================================================================= */
#LookingGlassDialog {
    @include background(base-frame, null, $menu_radius);
    padding: 8px;
}

/* =============================================================================
 * Power applet (/usr/share/cinnamon/applets/power@cinnamon.org/applet.js)
 * ============================================================================= */
.system-status-icon {
    padding-left: 0;
    padding-right: 0;
    spacing: 0;
    margin: 0;
    icon-size: 1.14em;
}

/* =============================================================================
 * Calendar applet (/usr/share/cinnamon/applets/calendar@cinnamon.org/calendar.js)
 * ============================================================================= */
.calendar {
    padding: 0.4em 1.75em 0.8em;
    spacing-rows: 0;
    spacing-columns: 0;

    &-month-label {
        padding-bottom: 3px;
        padding-top: 3px;
        font-weight: bold;
        color: $fg_color;
    }

    &-change-month-back,
    &-change-month-forward:rtl {
        height: 20px;
        width: 20px;
        border: 1px transparent;
        background-image: url("assets/calendar-arrow-left.svg");
    }

    &-change-month-back:hover {
        background-image: url("assets/calendar-arrow-left-hover.svg");
    }

    &-change-month-forward,
    &-change-month-back:rtl {
        height: 20px;
        width: 20px;
        border: 1px transparent;
        background-image: url("assets/calendar-arrow-right.svg");
    }

    &-change-month-forward:hover {
        background-image: url("assets/calendar-arrow-right-hover.svg");
    }

    &-day-base {
        font-size: 1em;
        text-align: center;
        width: 2.4em;
        height: 2.4em;

        &:active {
            background: $selected_bg_color;
            box-shadow: inset 0 1px 2px 0 rgba(black, 0.1);
            color: $selected_fg_color;
        }
    }

    &-day-heading {
        font-size: 1em;
        color: darken($fg_color, 8%);
        padding-top: 2em;
    }

    &-week-number {
        color: rgba(black, 0.5);
        font-size: 1em;
    }

    &-day {
        border: 1px rgba(black, 0.2);
        color: rgba(black, 0.7);
        border-top-width: 0;
        border-left-width: 0;
        padding-left: 1px;
        padding-top: 1px;
        background-color: rgba(white, 0.1);
    }

    &-day-top {
        border-top-width: 1px;
    }

    &-day-left {
        border-left-width: 1px;
    }

    &-nonwork-day {
        background-color: rgba(lighten(black, 50%), 0.1);
    }

    &-today {
        color: $selected_bg_color;
        font-weight: bold;
    }

    &-other-month-day {
        color: rgba(lighten(black, 20%), 0.3);
        box-shadow: inset 0 2px 3px 0 rgba(black, 0.1);
        background-color: rgba(lighten(black, 20%), 0.1);
    }
}

/* =============================================================================
 * Calendar applet (/usr/share/cinnamon/applets/calendar@cinnamon.org/applet.js)
 * ============================================================================= */
.datemenu-date-label {
    padding: 0.5em 0 1em;
    font-weight: bold;
    text-align: center;
    color: $fg_color;
}

/* =============================================================================
 * Notifications (/usr/share/cinnamon/js/ui/messageTray.js)
 * ============================================================================= */
#notification {
    @include background(base-frame, null, $menu_radius);
    font-size: 0.95em;
    padding: 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;
    width: 34em;

    &.multi-line-notification {
        padding-bottom: 8px;
        color: $fg_color;
    }

    StEntry {
        @include entry;

        &:focus {
            @include entry(focus);
        }

        &:hover {
            @include entry(hover);
        }
    }

    .cinnamon-link {
        color: black;
        text-decoration: underline;
    }

    &-scrollview {
        max-height: 100em;

        > {
            .top-shadow,
            .bottom-shadow {
                height: 10em;
            }
        }

        &:ltr > StScrollBar {
            padding-left: 6px;
        }

        &:rtl > StScrollBar {
            padding-right: 6px;
        }
    }

    &-body {
        spacing: 5px;
    }

    &-actions {
        spacing: 10px;
    }

    // NOTE: For the links inside notifications.
    // These URLs are already underlined with Pango markup.
    .url-highlighter {
        link-color: $link_color;
    }
}

// NOTE: We use row-span = 2 for the image cell, which prevents its height preferences to be
// taken into account during allocation, so its height ends up being limited by the height
// of the content in the other rows. To avoid showing a stretched image, we set the minimum
// height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159
.notification-with-image {
    min-height: 159px;
    color: $fg_color;
}

// NOTE: Override padding for this class so the button is squared.
.notification-icon-button {
    &,
    &:active,
    &:checked,
    &:focus,
    &:hover,
    &:disabled,
    &:focus:hover,
    &:focus:checked,
    &:focus:active {
        padding: 4px;
    }

    > StIcon {
        icon-size: 1.1em;
    }
}

/* =============================================================================
 * Alt Tab (/usr/share/cinnamon/js/ui/appSwitcher/classicSwitcher.js)
 * ============================================================================= */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    @include background(base-frame, null, $menu_radius);
    padding: 20px;
    font-size: 1em;
    font-weight: bold;

    .item-box {
        padding: 8px;
        border: 1px solid transparent;
        border-radius: 0;

        &:outlined {
            padding: 6px;
            border: 2px solid transparent;
        }

        &:selected {
            @include background(app-selected, null, $menu_radius);
        }
    }

    .thumbnail-box {
        padding: 2px;
        spacing: 4px;
    }

    .thumbnail {
        width: 256px;
    }

    .separator {
        width: 1px;
        background: rgba(white, 0.33);
    }
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-color: rgba(lighten(black, 20%), 0.5);
    border-radius: 24px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-color: rgba(lighten(black, 20%), 0.5);
    border-radius: 24px;
    border-radius-topleft: 0;
    border-radius-bottomleft: 0;
    width: 60px;
}

.switcher-arrow {
    border-color: transparent;
    color: $fg_color;

    &:highlighted {
        border-color: transparent;
        color: white;
    }
}

.switcher-preview-backdrop {
    background-color: rgba(lighten(black, 10%), 0.65);
}

/* =============================================================================
 * Hot corner ripple effect (/usr/share/cinnamon/js/ui/hotCorner.js).
 * ============================================================================= */
.ripple-box,
.ripple-box:rtl {
    width: 100px;
    height: 100px;
    border-radius: 50px; // NOTE: 50% is not recognized.
    background-gradient-direction: radial; // NOTE: start=center, end=edges
    background-gradient-start: rgba($selected_bg_color, 0.3);
    background-gradient-end: rgba($selected_bg_color, 0.2);
}

/* =============================================================================
 * Modal dialogs    (/usr/share/cinnamon/js/ui/modalDialog.js)
 * ============================================================================= */
.modal-dialog {
    @include background(base-frame, null, $menu_radius);
    font-size: 1.1em;
    padding: 30px;

    &-button-box {
        spacing: 110px;
        padding-top: 20px;
    }
}

/* =============================================================================
 * Run dialog (/usr/share/cinnamon/js/ui/runDialog.js)
 * ============================================================================= */
.run-dialog {
    padding: 10px 12px 0;

    &-label {
        font-size: 1em;
        font-weight: bold;
    }

    &-error-label {
        color: $error_color;
        font-weight: bold;
    }

    &-error-box {
        padding-top: 15px;
        spacing: 5px;
    }

    &-entry {
        @include entry;

        &:focus,
        &:focus:hover {
            @include entry(focus);
        }

        &:hover {
            @include entry(hover);
        }
    }

    &-completion-box {
        padding-left: 15px;
        font-size: 0.9em;
    }
}

/* =============================================================================
 * Lightbox (/usr/share/cinnamon/js/ui/lightbox.js)
 * ============================================================================= */
.lightbox {
    background-color: rgba(black, 0.4);
}

/* =============================================================================
 * Flashspot (/usr/share/cinnamon/js/ui/flashspot.js)
 * ============================================================================= */
.flashspot {
    background-color: white;
}

/* =============================================================================
 * Magnifier (/usr/share/cinnamon/js/ui/magnifier.js)
 * ============================================================================= */
.magnifier-zoom-region {
    border: 2px solid mix($selected_bg_color, $borders_color, 75%);

    &.full-screen {
        border-width: 0;
    }
}

/* =============================================================================
 * On screen keyboard (/usr/share/cinnamon/js/ui/keyboard.js)
 * ============================================================================= */
#keyboard {
    background-color: $bg_color;
    box-shadow: inset 0 1px darken($borders_color, 48%);
}

.keyboard {
    &-layout {
        spacing: 10px;
        padding: 10px;
    }

    &-row {
        spacing: 15px;
    }

    &-key {
        @include button(normal);
        min-height: 30px;
        min-width: 30px;
        font-size: 1.5em;
        font-weight: bold;

        &:grayed {
            @include button(normal);
        }

        &:checked,
        &:hover {
            @include button(hover);
        }

        &:active {
            @include button(active);
        }
    }

    &-subkeys {
        color: $fg_color;
        padding: 5px;
        -arrow-border-radius: $menu_radius;
        -arrow-background-color: lighten($bg_color, 4%);
        -arrow-border-width: 1px;
        -arrow-border-color: rgba(darken($borders_color, 51%), 0.3);
        -arrow-base: 18px;
        -arrow-rise: 10px;
        -st-shadow: 0 -1px 2px 0 rgba(white, 0.9);
        -boxpointer-gap: 2px;
    }
}

/* =============================================================================
 * Menu applet (/usr/share/cinnamon/applets/menu@cinnamon.org/applet.js)
 * ============================================================================= */
.menu-favorites {
    &-box {
        background-color: lighten($bg_color, 4%);
        border: 1px solid silver;
        border-radius: $menu_radius;
        padding: 0.5em;
    }

    &-button {
        padding: 0.9em 1em;
        border-radius: $menu_radius;

        &:hover {
            @include background(app-selected, null, $menu_radius);
        }
    }
}

.menu-categories-box {
    padding: 10px 30px;
}

.menu-applications-inner-box,
.menu-applications-outer-box {
    padding: 10px 10px 0;
}

.menu-application-button {
    padding: 7px;
    max-width: 10px;

    &:highlighted {
        // NOTE: This style is used in menu application buttons for applications which were newly installed.
        font-weight: bold;
    }

    &-selected {
        @include background(app-selected, null, $menu_radius);
        padding: 7px;

        &:highlighted {
            // NOTE: This style is used in menu application buttons for applications which were newly installed.
            font-weight: bold;
        }
    }

    &-label {
        &:ltr {
            padding-left: 5px;
        }

        &:rtl {
            padding-right: 5px;
        }
    }
}

.menu-category-button {
    padding: 7px;

    &-greyed {
        padding: 7px;
        color: lighten($fg_color, 25%);
    }

    &-selected {
        @include background(app-selected, null, $menu_radius);
        padding: 7px;
    }

    &-label {
        &:ltr {
            padding-left: 5px;
        }

        &:rtl {
            padding-right: 5px;
        }
    }
}

// NOTE: Name and description of the currently hovered item in the menu.
// This appears on the bottom right hand corner of the menu.
.menu-selected-app {
    &-box {
        padding-right: 30px;
        padding-left: 28px;
        text-align: right;
    }

    &-title {
        font-weight: bold;
    }

    &-description {
        max-width: 150px;
    }
}

.menu-search {
    &-box {
        padding-left: 30px;
    }

    &-entry-icon {
        icon-size: 1em;
        color: $fg_color;
    }
}

#menu-search-entry {
    @include entry;

    &:focus,
    &:focus:hover {
        @include entry(focus);
    }

    &:hover {
        @include entry(hover);
    }
}

// .menu-context-menu    {
// }

// .menu-background    {
// }

/* =============================================================================
 * Window list applet (/usr/share/cinnamon/applets/window-list@cinnamon.org/applet.js)
 * ============================================================================= */
.window-list {
    &-box {
        spacing: 3px;
        padding-left: 0;

        &.vertical {
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &-item-label {
        width: 15em;
        min-width: 5px;
    }

    &-item-box {
        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                @include background(normal, #{$pos});
                font-weight: bold;
                text-align: left;
                border-image: none;

                @if $pos == top or $pos == bottom {
                    padding: 1px 4px;
                } @else if $pos == right or $pos == left {
                    padding: 4px 1px;
                }

                &:active,
                &:checked,
                &:focus,
                &:checked:hover,
                &:focus:hover,
                &:active:hover {
                    @include background(pressed, #{$pos});
                    font-weight: bold;
                }

                &:hover {
                    @include background(hover, #{$pos});
                    font-weight: bold;
                }

                .progress {
                    background-gradient-direction: vertical;
                    background-gradient-start: rgba($selected_bg_color, 0.5);
                    background-gradient-end: rgba($selected_bg_color, 0.9);

                    @if $pos == top {
                        border-radius: 0 0 $button_radius $button_radius;
                    } @else if $pos == bottom {
                        border-radius: $button_radius $button_radius 0 0;
                    } @else if $pos == right {
                        border-radius: $button_radius 0 0 $button_radius;
                    } @else if $pos == left {
                        border-radius: 0 $button_radius $button_radius 0;
                    }
                }
            }
        }
    }

    &-item-demands-attention {
        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                @include background(attention, #{$pos});
            }
        }
    }

    &-preview {
        @include background(base-frame, null, $menu_radius);

        /* The class itself doesn't respond to the set paddings. */

        // padding: 6px 12px 12px;
        font-size: 1em;
        font-weight: bold;
        text-shadow: white 0 0 2px;

        & StBin {
            padding: 5px;
        }
    }
}

/* =============================================================================
 * Grouped window list applet (/usr/share/cinnamon/applets/grouped-window-list@cinnamon.org
 * ============================================================================= */
.grouped-window-list {
    &-item-box {
        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                @include background(normal, #{$pos});
                text-align: left;
                font-weight: bold;
                padding: 1px 0 4px 4px;
                border-image: none;

                @if $pos == top or $pos == bottom {
                    padding: 1px 0 4px 4px;
                } @else if $pos == right or $pos == left {
                    padding: 1px 0 4px 0;
                }

                &:focus:hover,
                &:focus:active:hover,
                &:focus {
                    @include background(pressed, #{$pos});
                    font-weight: bold;
                }

                &:hover {
                    @include background(hover, #{$pos});
                    font-weight: bold;
                }

                .progress {
                    background-gradient-direction: vertical;
                    background-gradient-start: rgba($selected_bg_color, 0.5);
                    background-gradient-end: rgba($selected_bg_color, 0.9);

                    @if $pos == top {
                        border-radius: 0 0 $button_radius $button_radius;
                    } @else if $pos == bottom {
                        border-radius: $button_radius $button_radius 0 0;
                    } @else if $pos == right {
                        border-radius: $button_radius 0 0 $button_radius;
                    } @else if $pos == left {
                        border-radius: 0 $button_radius $button_radius 0;
                    }
                }
            }
        }
    }

    &-item-demands-attention {
        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                @include background(attention, #{$pos});
            }
        }
    }

    &-thumbnail-menu {
        @include background(base-frame, null, $menu_radius);
        padding: 0;
        font-size: 1em;
        font-weight: bold;

        .item-box {
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 0;
            spacing: 4px;

            &:outlined {
                padding: 6px;
                border: 2px solid rgba(85, 85, 85, 0);
            }

            &:selected {
                @include background(app-selected, null, $menu_radius);
            }
        }

        .thumbnail {
            width: 256px;
        }

        .separator {
            width: 1px;
            background: rgba($selected_fg_color, 0.33);
        }
    }

    &-thumbnail-label {
        padding-left: 4px;
    }

    &-number-label {
        z-index: 99;
        color: $fg_color;
    }

    &-badge {
        border-radius: 256px;
        background-color: $selected_fg_color;
    }

    &-button-label {
        padding-left: 4px;
    }

    &-thumbnail-alert {
        background: rgba(red, 0.1);
    }
}

/* =============================================================================
 * Sound applet (/usr/share/cinnamon/applets/sound@cinnamon.org/applet.js)
 * ============================================================================= */
.sound-player {
    StButton {
        width: 22px;
        height: 22px;
        padding: 5px;
        color: $fg_color;

        &:small {
            border: 1px solid transparent;
            border-radius: $button_radius;
            width: 16px;
            height: 16px;

            &:hover {
                @include button(hover);
            }

            &:active {
                @include button(active);
            }
        }

        StIcon {
            icon-size: 22px;
        }

        &:small StIcon {
            icon-size: 16px;
        }

        &:hover,
        &:active {
            color: rgba($fg_color, 0.4);
        }
    }

    .slider {
        height: 0.5em;
        -slider-height: 0.5em;
        -slider-background-color: darken($bg_color, 23%);
        -slider-border-color: transparent;
        -slider-active-background-color: $selected_bg_color;
        -slider-active-border-color: transparent;
        -slider-border-width: 0;
        -slider-handle-radius: 0;
        border-right-width: 0;
        border-left-width: 0;
    }

    StBoxLayout {
        spacing: 0.5em;
    }

    > StBoxLayout {
        padding: 0 16px 8px;

        &:first-child {
            border: 1px solid lighten($borders_color, 9%);
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    &-overlay {
        border-top: 1px solid lighten($borders_color, 9%);
        width: 300px;
        height: 70px;
        padding: 16px;
        spacing: 0.5em;
        color: $fg_color;
        background: lighten($bg_color, 4%);

        StBoxLayout {
            padding-top: 2px;
        }
    }

    &-generic-coverart {
        background: rgba(black, 0.2);
    }
}

/* =============================================================================
 * Spacer applet (/usr/share/cinnamon/applets/spacer@cinnamon.org)
 * ============================================================================= */
.spacer-box {
    @each $pos in "top", "bottom", "right", "left" {
        .panel-#{$pos} & {
            &:highlight {
                @include background(highlight, #{$pos});
            }
        }
    }

    // &.vertical {}

    // &.edit-mode {}
}

/* =============================================================================
 * Workspace Switcher applet (/usr/share/cinnamon/applets/workspace-switcher@cinnamon.org/applet.js)
 * ============================================================================= */
// NOTE: Controls the style when using the "Simple buttons" option.
.workspace-switcher {
    padding-left: 3px;
    padding-right: 3px;

    .panel-left &,
    .panel-right & {
        padding: 0;
    }

    .workspace-button {
        width: 20px;
        height: 14px;
        color: $fg_color;
        border: 0;
        border-color: lighten($borders_color, 11%);
        padding: 3px;
        padding-top: 4px;
        font-weight: bold;

        &.vertical {
            height: 1.5em;
            width: 24px;
            padding: 0;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                &:hover {
                    @include background(hover, #{$pos});
                    border-color: lighten($borders_color, 11%);
                }

                &:outlined {
                    @include background(pressed, #{$pos});
                }
            }
        }
    }
}

// NOTE: Controls the style when using the "Visual representation" option.
.workspace-graph {
    padding: 3px 4px;
    spacing: 4px;

    .workspace {
        border: 1px solid darken($borders_color, 60%);
        background-gradient-direction: vertical;
        background-gradient-start: darken($bg_color, 62%);
        background-gradient-end: darken($bg_color, 52%);

        &:active {
            border: 1px solid lighten($borders_color, 13%);
            background-gradient-direction: vertical;
            background-gradient-start: darken($bg_color, 68%);
            background-gradient-end: darken($bg_color, 52%);
        }

        .windows {
            -active-window-background: darken($bg_color, 33%);
            -active-window-border: rgba(black, 0.7);
            -inactive-window-background: darken($bg_color, 33%);
            -inactive-window-border: rgba(black, 0.7);
        }

        &:active .windows {
            -active-window-background: $selected_bg_color;
            -active-window-border: rgba(black, 0.9);
            -inactive-window-background: darken($bg_color, 22%);
            -inactive-window-border: rgba(black, 0.7);
        }
    }
}

/* =============================================================================
 * Panel Launchers applet (/usr/share/cinnamon/applets/panel-launchers@cinnamon.org/applet.js)
 * ============================================================================= */
.panel-launchers {
    spacing: 0;

    .launcher {
        border: 1px solid transparent;
        padding: 0 2px;
        border-radius: $button_radius;

        &:hover {
            @include background(hover, null, $button_radius);
        }

        .icon-box {
            padding: 0;
        }

        @each $pos, $counter_pos in ("top", "bottom"), ("bottom", "top"), ("left", "right"),
            ("right", "left")
        {
            .panel-#{$pos} & {
                border-#{$counter_pos}: 0;
            }
        }
    }

    &.vertical .launcher {
        padding: 2px 0;
    }
}

/* =============================================================================
 * Applets (/usr/share/cinnamon/js/ui/applet.js)
 * ============================================================================= */
.applet {
    &-box {
        font-weight: bold;
        color: $fg_color;
        padding: 0 4px;
        text-align: center;

        &.vertical {
            font-weight: bold;
            color: $fg_color;
            padding: 4px 0;
        }

        // &:checked > .applet-icon,
        // &:hover > .applet-icon {
        // }

        // &:active {
        // }

        // NOTE: Added in Cinnamon 3.4
        //
        // The Cinnamon St library now reacts to margin, but that also has the
        // effect of overriding the margin that was put in programmatically for
        // TextIcon applets between the icon and the label.
        // This restores some suitable spacing between icons and their labels.
        .panel-top &,
        .panel-bottom & {
            spacing: 3px;
        }

        @each $pos in "top", "bottom", "right", "left" {
            .panel-#{$pos} & {
                &:checked,
                &:hover {
                    @include background(hover, #{$pos});
                }

                &:highlight {
                    @include background(highlight, #{$pos});
                }
            }
        }
    }

    &-label {
        font-weight: bold;
        color: $fg_color;

        &:checked,
        &:hover {
            font-weight: bold;
        }

        .applet-box:highlight & {
            color: $selected_fg_color;
        }
    }

    &-icon {
        icon-size: 22px;

        // &:hover,
        // &:checked    {}
    }

    /* =========================================================================
     * Separator applet (/usr/share/cinnamon/applets/separator@cinnamon.org/applet.js)
     * ========================================================================= */
    &-separator {
        padding: 4px;
    }

    &-separator-line {
        width: 2px;
        background: darken($bg_color, 14%);
    }

    &-separator-line-vertical {
        border: 0 solid darken($bg_color, 14%);
        border-bottom-width: 2px;
    }
}

/* =============================================================================
 * Workspace OSD (/usr/share/cinnamon/js/ui/windowManager.js)
 * ============================================================================= */
.workspace-osd {
    @include background(base-frame, null, $menu_radius);
    padding: 9px 15px;
    font-weight: bold;
    font-size: 2.8em;
}

/* =============================================================================
 * Notification applet (/usr/share/cinnamon/applets/notifications@cinnamon.org/applet.js)
 * ============================================================================= */
.notification-applet-padding {
    padding: 0.5em 1em;
}

/* =============================================================================
 * Check Boxes
 * ============================================================================= */
@each $asset, $w_class in ("checkbox", "check-box"), ("radio", "radiobutton") {
    .#{$w_class} {
        CinnamonGenericContainer {
            spacing: 0.2em;
            min-height: 18px;
            padding-top: 2px;
        }

        & StBin,
        &:focus StBin {
            width: 16px;
            height: 16px;
            background-image: url("../gtk-2.0/images/radio-check/#{$asset}-unchecked.svg");

            .popup-menu-item:active & {
                background-image: url("../gtk-2.0/images/radio-check/#{$asset}-unchecked-selected.svg");
            }
        }

        &:checked StBin,
        &:focus:checked StBin {
            background-image: url("../gtk-2.0/images/radio-check/#{$asset}-checked.svg");

            .popup-menu-item:active & {
                background-image: url("../gtk-2.0/images/radio-check/#{$asset}-checked-selected.svg");
            }
        }
    }
}

.check-box {
    StLabel {
        font-weight: normal;
    }
}

.radiobutton {
    StLabel {
        padding-top: 4px;
        font-size: 0.9em;
        box-shadow: none;
    }
}

/* =============================================================================
 * User applet (/usr/share/cinnamon/applets/user@cinnamon.org/applet.js)
 * ============================================================================= */
.user {
    &-icon {
        background-color: lighten($bg_color, 4%);
        border: 1px solid lighten($borders_color, 8%);
        border-radius: $menu_radius;
        padding: 0.2em;
    }

    &-label {
        color: $fg_color;
        font-size: 1.3em;
        margin: 6px;
    }
}

/* =============================================================================
 * OSD widnow (/usr/share/cinnamon/js/ui/modalDialog.js)
 * ============================================================================= */
.info-osd {
    @include background(base-frame, null, $menu_radius);
    font-size: 2em;
    padding: 12px;
    text-align: center;
}

/* =============================================================================
 * OSD widnow (/usr/share/cinnamon/js/ui/osdWindow.js)
 * ============================================================================= */
.osd-window {
    @include background(base-frame, null, $menu_radius);
    padding: 20px;
    spacing: 1em;

    // level-bar class added in Cinnamon 3.4.x.
    .level-bar {
        height: 0.7em;
        border-radius: 0.3em;
        background-color: $selected_bg_color;
    }

    .level {
        height: 0.7em;
        border-radius: 0.3em;
        background-color: darken($bg_color, 23%);
    }
}

/* =============================================================================
 * Restart OSD (/usr/share/cinnamon/js/ui/main.js)
 * ============================================================================= */
.restart-osd {
    font-size: 1.6em;
}

/* =============================================================================
 * Snap/Tile Chrome (/usr/share/cinnamon/js/ui/windowManager.js)
 * ============================================================================= */
.tile-preview,
.tile-hud {
    background-color: rgba($selected_bg_color, 0.4);
    border: 1px solid rgba($selected_bg_color, 0.8);

    &.snap {
        background-color: rgba($selected_bg_color, 0.8);
    }

    &:top {
        border-top-width: 0;
        border-radius: 0 0 8px 8px;
    }

    &:bottom {
        border-bottom-width: 0;
        border-radius: 8px 8px 0 0;
    }

    &:left {
        border-left-width: 0;
        border-radius: 0 8px 8px 0;
    }

    &:right {
        border-right-width: 0;
        border-radius: 8px 0 0 8px;
    }

    &:top-left {
        border-top-width: 0;
        border-left-width: 0;
        border-radius: 0 0 8px;
    }

    &:top-right {
        border-top-width: 0;
        border-right-width: 0;
        border-radius: 0 0 0 8px;
    }

    &:bottom-left {
        border-bottom-width: 0;
        border-left-width: 0;
        border-radius: 0 8px 0 0;
    }

    &:bottom-right {
        border-bottom-width: 0;
        border-right-width: 0;
        border-radius: 8px 0 0;
    }
}

/* =============================================================================
 * System Tray applet (/usr/share/cinnamon/applets/systray@cinnamon.org/applet.js)
 * ============================================================================= */
// NOTE: .systray is for theming to be applied to the systray as a whole.
// .applet-box is used for indicators (not tray icons) within the systray.
// Tray icons are not themed.
.systray {
    spacing: 5px;
}
