// Fonts
$font_size: 9pt;
$font_family: "Noto Sans", sans, Sans-Serif;

// Colors
$selected_fg_color: #ffffff;
$bg_color: #e1e1e1;
$fg_color: #464646;
$border_color: #ababab;
$warning_color: #e6e100;
$error_color: #cc0000;
$tooltip_bg_color: #fbeaa0;
$tooltip_fg_color: #212121;
$link_color: #0000ee;

$button_bg_a: lighten($bg_color, 6%);
$button_bg_b: darken($bg_color, 2%);
$button_hover_bg_a: lighten($bg_color, 6%);
$button_hover_bg_b: lighten($bg_color, 1%);
$button_focus_bg_a: lighten($bg_color, 7%);
$button_focus_bg_b: darken($bg_color, 4%);
$button_active_bg_a: darken($bg_color, 19%);
$button_active_bg_b: darken($bg_color, 16%);

$border_button: darken($border_color, 1%);
$border_button_hover: lighten($border_color, 1%);
$border_button_active: darken($border_color, 13%);
