/* Multi Translator IDs and classes.
 *
 * IDs:
 * MultiTranslatorDialog
 *     mt-translator-dialog
 * MultiTranslatorHelp
 *     mt-help-dialog
 * MultiTranslatorSourceChooser
 *     mt-language-chooser-dialog
 * MultiTranslatorTargetChooser
 *     mt-language-chooser-dialog
 *
 * All IDs have the modal-dialog class set.
 *
 * Classes:
 * mt-actionbar
 * mt-button-icon
 * mt-buttonsbar
 * mt-buttonsbar-button
 *     mt-close-button
 *     mt-main-menu-button
 *     mt-provider-selector-button
 *     mt-quick-help-button
 *     mt-source-language-button
 *         modal-dialog-button
 *     mt-source-language-label
 *     mt-swap-languages-button
 *     mt-target-language-button
 *         modal-dialog-button
 *     mt-target-language-label
 *     mt-translate-button
 * mt-buttonsbar-label
 * mt-chars-counter-box
 * mt-chars-counter-text-current
 * mt-chars-counter-text-max
 * mt-chars-counter-text-separator
 * mt-entry
 * mt-entry-box
 *     mt-source-entry-box
 *     mt-target-entry-box
 * mt-error
 * mt-help-text
 * mt-language-chooser-button
 * mt-language-chooser-languages
 * mt-language-chooser-search-entry
 * mt-language-chooser-search-entry-placeholder
 * mt-language-chooser-title
 * mt-listen-button
 * mt-most-used-box
 * mt-most-used-button
 * mt-most-used-label
 * mt-provider-button
 * mt-source-bottombar-left
 * mt-source-bottombar-right
 * mt-source-topbar
 * mt-infobar
 * mt-infobar-message-error
 * mt-infobar-message-info
 * mt-infobar-message-success
 * mt-target-bottombar-left
 * mt-target-bottombar-right
 * mt-target-topbar
 */

/*********************/
/* Translator dialog */
/*********************/
/* Since the not() CSS directive doesn't seem to be supported, override the
   color for the modal-dialog-button class with inherit.
*/
#MultiTranslatorDialog .mt-buttonsbar-button.modal-dialog-button:hover {
    color: inherit;
}

#MultiTranslatorDialog .mt-buttonsbar {
    padding: 4px;
}

#MultiTranslatorDialog .mt-buttonsbar .mt-source-language-label,
#MultiTranslatorDialog .mt-buttonsbar .mt-target-language-label {
    font-size: 1.2em;
    font-weight: bold;
}

#MultiTranslatorDialog .mt-provider-button {
    font-size: 0.8em;
    font-weight: bold;
}

#MultiTranslatorDialog .modal-dialog-button {
    padding: 0 6px;
}

#MultiTranslatorDialog .mt-most-used-box .mt-most-used-label,
#MultiTranslatorDialog .mt-most-used-box .mt-most-used-button {
    /* Invisible border to conteract the border that I add when the button is active. */
    border: 1px solid transparent;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;

    font-size: 0.8em;
    padding: 0 4px;
}

#MultiTranslatorDialog .mt-most-used-box .mt-most-used-label,
#MultiTranslatorDialog .mt-most-used-box .mt-most-used-button:hover {
    color: rgba(0, 0, 0, 0.3);
}

#MultiTranslatorDialog .mt-most-used-box .mt-most-used-button:active {
    /* text-decoration: underline doesn't work. JEEEESSSSSHHHHH */

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

#MultiTranslatorDialog .mt-actionbar {
    spacing: 0.5em;
    padding: 0;
}

#MultiTranslatorDialog .mt-actionbar StButton {
    padding: 0;
}

#MultiTranslatorDialog .mt-chars-counter-text-max {
    font-weight: bold;
}

#MultiTranslatorDialog .mt-infobar {
    font-size: 1.2em;
}

#MultiTranslatorDialog .mt-infobar-message-error,
#MultiTranslatorDialog .mt-chars-counter-text-current.mt-error {
    color: red;
    font-weight: bold;
}

#MultiTranslatorDialog .mt-infobar-message-success {
    color: green;
}

#MultiTranslatorDialog .mt-spinner {
    font-weight: bold;
}

/*********************/
/* Language choosers */
/*********************/

#MultiTranslatorSourceChooser .mt-language-chooser-button,
#MultiTranslatorTargetChooser .mt-language-chooser-button {
    border: 1px solid transparent;
}

#MultiTranslatorSourceChooser .mt-language-chooser-search-entry-placeholder,
#MultiTranslatorTargetChooser .mt-language-chooser-search-entry-placeholder {
    font-style: italic;
}

#MultiTranslatorSourceChooser .mt-language-chooser-search-entry-icon,
#MultiTranslatorTargetChooser .mt-language-chooser-search-entry-icon {
    icon-size: 1em;
}

/***************/
/* Help dialog */
/***************/

#MultiTranslatorHelp .mt-help-dialog-info-shortcut {
    font-weight: bold;
}

/***************/
/* All dialogs */
/***************/

#MultiTranslatorDialog,
#MultiTranslatorHelp,
#MultiTranslatorSourceChooser,
#MultiTranslatorTargetChooser {
    padding: 10px;
}

#MultiTranslatorDialog .mt-button-icon,
#MultiTranslatorHelp .mt-button-icon,
#MultiTranslatorSourceChooser .mt-button-icon,
#MultiTranslatorTargetChooser .mt-button-icon {
    icon-size: 1.2em;
    padding: 4px;
}

#MultiTranslatorDialog .mt-buttonsbar-button:hover,
#MultiTranslatorHelp .mt-buttonsbar-button:hover,
#MultiTranslatorSourceChooser .mt-buttonsbar-button:hover,
#MultiTranslatorTargetChooser .mt-buttonsbar-button:hover {
    color: rgba(0, 0, 0, 0.3);
}

#MultiTranslatorHelp .mt-base-dialog-title,
#MultiTranslatorSourceChooser .mt-base-dialog-title,
#MultiTranslatorTargetChooser .mt-base-dialog-title {
    font-size: 1.2em;
    font-weight: bold;
}

#MultiTranslatorHelp .mt-base-dialog-scroll,
#MultiTranslatorSourceChooser .mt-base-dialog-scroll,
#MultiTranslatorTargetChooser .mt-base-dialog-scroll,
#MultiTranslatorSourceChooser .mt-language-chooser-button:checked,
#MultiTranslatorSourceChooser .mt-language-chooser-button:hover,
#MultiTranslatorTargetChooser .mt-language-chooser-button:checked,
#MultiTranslatorTargetChooser .mt-language-chooser-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#MultiTranslatorHelp .mt-base-dialog-title,
#MultiTranslatorHelp .mt-base-dialog-close-button,
#MultiTranslatorHelp .mt-base-dialog-scroll,
#MultiTranslatorSourceChooser .mt-base-dialog-title,
#MultiTranslatorSourceChooser .mt-base-dialog-close-button,
#MultiTranslatorSourceChooser .mt-base-dialog-scroll,
#MultiTranslatorTargetChooser .mt-base-dialog-title,
#MultiTranslatorTargetChooser .mt-base-dialog-close-button,
#MultiTranslatorTargetChooser .mt-base-dialog-scroll {
    padding: 0.5em 0;
}

#MultiTranslatorHelp .mt-base-dialog-scroll,
#MultiTranslatorSourceChooser .mt-base-dialog-scroll,
#MultiTranslatorTargetChooser .mt-base-dialog-scroll,
#MultiTranslatorHelp .mt-base-dialog,
#MultiTranslatorSourceChooser .mt-base-dialog,
#MultiTranslatorTargetChooser .mt-base-dialog {
    padding: 0.5em;
}
